* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banar {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(covar.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  cursor: pointer;
  color: white;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  background: #f40c43;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.house-content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.house-content h1 {
  font-size: 70px;
  margin-top: 80px;
  text-transform: uppercase;
}
.house-content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #f40c43;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: #f40c43;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
.main-title {
  text-align: center;
  margin-top: 50px;
}
.main-title p {
  color: #f40c43;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.main-title h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.property {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 1%;
}

.property-box {
  border: 1px solid white;
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.property-box img {
  width: 300px;
}
.title {
  color: #f40c43;
}
.title-1 {
  color: #f40c43;
  text-align: center;
  margin-bottom: 20px;
}
.location a {
  text-decoration: none;
  color: black;
}
.gallery {
  display: flex;
  justify-content: space-around;
}
.gallery-img img {
  width: 300px;
  height: 250px;
}
.Recents {
  display: flex;
  width: 50%;
  padding: 10px;
  margin-left: 10px;
}
.recent-blog {
  margin-left: 10px;
  /* width: 50%; */
}
.blog {
  display: flex;
  margin-top: 20px;
}
.footer {
  margin-top: 150px;
  width: 100%;
  padding: 20px;
  background: black;
  color: #efefef;
  display: flex;
  justify-content: space-around;
}
.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}
.footer div h3 {
  font-weight: 300px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
.col-2 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}
